body {
    font-family: Arial, sans-serif;
    background-color: #327da395;
    height: 100vh;
    width: 100vw;
}
.container {
    max-width: 600px;
    margin: 100px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 50px;
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="password"] {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}
button[type="submit"] {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}